.table-container {
    border-collapse: collapse;
    width: 100%;
    color: $table-container;
    font-family: AnjaliOldLipi;
  }
  .table-container .footer-tools .pages button {
    border-collapse: collapse;
    width: 100%;
    color: $table-container;
    font-family: AnjaliOldLipi;
    font-size: 1rem;
  }
  .table-container .table {
    border-collapse: collapse;   
    width: 100%;
    color: $table-container;
    font-family: AnjaliOldLipi;
  }
  .table-container .table,
  .table-container .table th,
  .table-container .table td {
    padding: 2px 2px;
  }
  
  .table-container .table th {
    font-weight: bolder;
    text-align: left;
    height: 50px;
    border-bottom: solid 2px $table-container-border;
  }
  .table-container .table td {
    text-align: left;
    height: 50px;
    border-bottom: solid 1px $table-container-border;
  }
  
  .table-container .table tbody tr:hover {
    background-color: $table-container-hover;
  }
  
  .btn-container ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    align-items: baseline;
  }
  .btn-container ul li {
    display: inline-block;
    margin: 0 5px;
    align-items: baseline;
  }
  .btn:hover {
    cursor: pointer;
  }
  
  .table-container .footer-tools {
    padding: 12px;
    display: flex;
    justify-content: left;
    align-items: baseline;
  }
  .table-container .footer-tools .list-items {
    width: 50%;
  }
  .table-container .footer-tools .pages {
    margin-left: auto;
    margin-right: 0;
    width: 50%;
  }
  .table-container .footer-tools .pages ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
  }
  .table-container .footer-tools .pages ul li {
    display: inline-block;
    margin: 0 2px;
  }
  .table-container .footer-tools .pages ul li button {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
  }
  .table-container .footer-tools .pages ul li button:hover {
    background: $table-container-btn;
    color: $white;
  }
  .table-container .footer-tools .pages ul li button.active {
    background-color: $table-container-btn;
    border-radius: 3px;
    color: $white;
  }
  .table-container .footer-tools .pages ul li button,
  .table-container .footer-tools .pages ul li span {
    padding: 6px 12px;
  }
  .buttons ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 15px;
    align-items: baseline;
  }
  .buttons ul li {
    display: inline-block;
    margin: 0 5px;
    align-items: baseline;
  }
  .buttons ul li button {
    cursor: pointer;
  }
  .modal-default-button {
    padding: 5px;
  }